<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" media="all">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav navbar-left hidden-sm">
                <% times.forEach(function (time, index) { %>
                    <li class="<% if(index==num) { %>active<%}%>"><a href="#"><%= time.name %></a></li>
                <% }) %>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a href="/">返回</a></li>
                <li><a href="/reset">重置</a></li>
            </ul>
        </div>
    </div>
</div>
