body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  font: 20px "Hiragino Sans GB", sans-serif;
  min-height: 800px;
  background: url("/images/lottry_bg.jpg") no-repeat;
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size:100% 100%;
  background-size:100% 100%;
}

ul li {
  list-style: none;
}

.lottery-container{
  margin-top: 60px;
}

.lottery-text{
  float: left;
  margin-right: 10px;
  width: 200px;
}

#lotterycontainer {
  width: 900px;
  margin: 10px auto;
  position: relative;
}

#balls {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 500px;
}

#balls li,
#lucky-balls li {
  position: absolute;
  left: 420px;
  top: 470px;
  padding: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  font-size: 12px;
  background: url("/images/ball.png");
  color: #ddd;
  opacity: 1;
  text-align: center;
  line-height: 43px;
  border-radius: 30px;
  word-break: keep-all;
  cursor: pointer;
}

#goMore{
  width: 100px;
}

#go {
  width: 100px;
}

.step-div{
  text-align: center;
  width: 500px;
  height: 50px;
  display: block;
  margin: 0 auto;
  font-size: 22px;
  border: none;
  background: none;
  color: #999;
}

#balls li.selected {
  color: #fff;
  background: url("/images/lottoryball.png");
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size:100% 100%;
  background-size:100% 100%;
  font-size: 40px;
  height: 200px;
  width: 200px;
  line-height: 128px;
  border-radius: 100px;
  -webkit-transition: 0.3s ease-in;
  -webkit-transition-property: width, height, font;
  z-index: 100;
}
.lucky-balls-div{
  min-height: 100px;
  min-width: 1280px;
  display: inline-block;
}
#lucky-balls {
  padding: 20px;
  margin: 10px 0;
  list-style: none;
}

#lucky-balls li {
  position: relative;
  left: auto !important;
  top: auto !important;
  width: 40px !important;
  height: 40px !important;
  background: url("/images/lottoryball.png");
  float: left;
  margin: 5px 10px;
  font-weight: bold;
  color: #fff;
}

.myModal{
  background: url("/images/get_lottory.jpg");
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size:100% 100%;
  background-size:100% 100%;
}

.modal-dialog{
  color: #fff;
  font-weight: bold;
}
.myModal li{
  width: 25%;
  float: left;
  font-weight: bold;
}